
@{
    ViewData["Title"] = "HolidayAdd";
}
<div class="layui-container">
    @*<blockquote class="layui-elem-quote layui-text">
            鉴于小伙伴的普遍反馈，先温馨提醒两个常见“问题”：1. <a href="#" target="_blank">为什么select/checkbox/radio没显示？</a> 2. <a href="#" target="_blank">动态添加的表单元素如何更新？</a>
        </blockquote>*@
    <form class="layui-form layui-form-pane" action="">

        <div style="float: left" class="comfield">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">节假日</label>
                    <div class="layui-input-inline">
                        <input type="text" name="HolidayTime" id="HolidayTime" lay-verify="date" placeholder="yyyy-MM-dd" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Desc" id="Desc" lay-verify="" placeholder="请输入描述" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</a>
                    <a class="layui-btn layui-btn-primary" onclick="parent.layer.close(index);">关闭</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //注意：parent 是 JS 自带的全局对象，可用于操作父页面
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    layui.use(['form', 'layedit', 'laydate', 'table', 'layer', 'manageCom'],
        function () {

            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , manage = layui.manageCom
                , table = layui.table;


            //日期
            laydate.render({
                elem: '#HolidayTime'
                , type: 'date'
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                $.post('@Url.Action("HolidayAdd")',
                    data.field,
                    function (data) {
                        if (data.Code === 0) {
                            parent.layer.msg("添加成功！：" + data.Msg);
                            parent.layer.close(index);
                            parent.tableIns.reload();
                        }
                        else
                            layer.msg("保存失败：" + data.Msg);
                    });
             
            });


        });

</script>