
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="layui-container">
    <div style="margin-top:20%">
        
        <blockquote class="layui-elem-quote" style="color:red">您没有访问该页面的权限！</blockquote>

    </div>
</div>
